@import "src/vars";

.cartPageContainer {
    width: 1200px;
    max-width: 96%;
    margin: 0 auto;
    padding: 60px 0;
    &__top {
        padding: 30px 0;
        border-bottom: 1px solid #F4F4F4;
        .title {
            font-size: 32px;
            margin-bottom: 0;
            svg {
                margin-right: 10px;
                font-size: 26px;
            }
        }
        .clearCart {
            cursor: pointer;
            svg {
                margin-right: 10px;
            }
            svg, span {
                color: #B6B6B6;
            }
            span {
                font-size: 16px;
            }
        }
    }

    &__total {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;
        padding: 40px 0;
        .cartTotalCount,
        .cartTotalPrice {
            span {
                font-size: 22px;
                &.count {
                    font-weight: 700;
                }
                &.price {
                    font-weight: 700;
                    color: $b_color;
                }
            }
        }
    }
}