.homeContent {
  .content__top {
    padding: 20px 0;
    .categories {

    }
  }

  .mainContent {
    .pizzaWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
  }
}