.header {
  .headerWrapper {
    padding: 20px 15px;
    .logo {
      display: flex;
      align-items: center;
      color: #000;
      text-decoration: none;
      transition: all .4s ease-in-out;
      &:hover {
        opacity: .8;
      }
      img {
        flex-basis: 40px;
        max-width: 40px;
        margin-right: 10px;
      }
      h4 {
        flex: 1;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    .headerButton {
      button {
        background: #FE5F1E;
        border-radius: 30px;
        border: none;
        outline: none;
        padding: 15px;
        min-width: 150px;
        span {
          color: #fff;
        }
      }
    }
  }
}