@import "src/vars";

.dropdown {
  position: relative;
  .sortLabel {
    span {
      b {
        svg {
          transition: all .2s ease-in-out;
          margin-right: 5px;
        }
        &.caretActive {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .selectSort {
    color: $b_color;
    opacity: 1;
    font-weight: 500;
  }
  .dropdownMenu {
    position: absolute;
    bottom: auto;
    width: 150px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    &.visibleSortList {
      opacity: 1;
      visibility: visible;
    }
    li {
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      padding: 10px 15px;
      &:hover,
      &.active {
        color: $b_color;
        background: rgba($b_color, .05);
      }
    }
  }
}